$color-negro: #021226; /* FONDO */
$color-blanco: #FFF8F8;
$color-rojo: #5E1012;  /* FONDO */
$color-rojo2: #920C0D;

/* BanckGround Colors */
$bgnegro: #021226;
$bgrojo: #5E1012;

/* Text Colors */
$txtnegro: #021226; 
$txtblanco: #FFF8F8;


