/* Color Theme Swatches in Hex */
.negro  { color: #021226; }
.blanco { color: #FFF8F8; }
.rojo2  { color: #5E1012; }
.rojo   { color: #920C0D; }



/* Color Theme Swatches in RGBA */
.negro  { color: rgba(2, 17, 38, 1); }
.blanco { color: rgba(255, 247, 247, 1); }
.rojo   { color: rgba(93, 16, 17, 1); }
.rojo2  { color: rgba(145, 11, 13, 1); }


/* Color Theme Swatches in HSLA */
.negro  { color: hsla(213, 88, 7, 1); }
.blanco { color: hsla(0, 100, 98, 1); }
.rojo   { color: hsla(358, 70, 21, 1); }
.rojo2  { color: hsla(359, 84, 30, 1); }








